body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a,
a:visited {
    color: blue;
}

h1 {
    font-size: 4em;
}

.invisible {
    display: none;
}

.ellipsis {
    text-overflow: ellipsis;
}

.list-group-item {
    word-break: break-all;
}

.list-group-item+.list-group-item {
    border-top-width: 1px !important;
}

#top-shadow {
    width: 100%;
    position: fixed;
    height: 32px;
    z-index: 30000;
    top: 0;
    -webkit-box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.35);
    box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.35);
    transition: opacity 0.2s ease-in-out;
}

#bottom-shadow {
    width: 100%;
    position: fixed;
    height: 32px;
    z-index: 30000;
    bottom: 0;
    -webkit-box-shadow: inset 0px -5px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: inset 0px -5px 5px 0px rgba(0,0,0,0.35);
    box-shadow: inset 0px -5px 5px 0px rgba(0,0,0,0.35);
    transition: opacity 0.2s ease-in-out;
}